img.glyph {
  height: 0.5em;
}

nav.navbar {
  margin-bottom: 1em;
}

div.card div.clickable {
  cursor: pointer;
}

div.loading img.spinning {
  height: 2em;
  animation: spin 2s infinite linear;
}

button img.spinning {
  height: 1em;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
