div.alert {
  border: 0.025em solid #000;
  padding: 0.5em;
  margin: 0.5em;
}

img.glyph {
  height: 0.5em;
}

div.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
}

section.card {
  border: 0.5em solid #000;
  border-radius: 0.5em;
  width: 15em;
  position: relative;
  perspective: 50em;
  align-self: auto;
  margin: 0.5em;
}

section.card div.text {
  height: 5em;
}

section.card div.header {
  border-bottom: 0.25em solid #000;
}

section.card div.footer {
  border-top: 0.25em solid #000;
}
